---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: k8s-gitops
  namespace: flux-system
spec:
  interval: 1m
  ref:
    tag: main@sha256:638d8487fb3a0741302b1762760b2e9d90a1538bf459c8478a70c89aad57b1bf
  url: oci://ghcr.io/neutralalice/manifests/k8s-gitops
  verify:
    provider: cosign
