name: "Publish OCI artifact"

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-oci.yaml
      - kubernetes/**

permissions: write-all

env:
  OCI_REPO: "oci://ghcr.io/neutralalice/manifests/${{ github.event.repository.name }}"
  GHCR_REPO: "ghcr.io/neutralalice/manifests/${{ github.event.repository.name }}"

jobs:
  publish:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
#      - name: Setup nixpkgs
#        uses: cachix/install-nix-action@d1ca217b388ee87b2507a9a93bf01368bde7cec2 # v31.1.0
#        with:
#          nix_path: nixpkgs=channel:nixos-unstable
      
#      - name: Print nixpkgs version
#        run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
        
      - name: Setup flux CLI tool
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2.7.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup crane CLI tool
        uses: imjasonh/setup-crane@6da1ae018866400525525ce74ff892880c099987 # v0.5

      - name: Setup cosign CLI tool
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create OCI artifact
        run: |
          flux push artifact "$OCI_REPO:$(git rev-parse --short HEAD)" \
            --path="./kubernetes" \
            --source="$(git config --get remote.origin.url)" \
            --revision="$(git branch --show-current)@sha1:$(git rev-parse HEAD)" \
            --annotations="org.opencontainers.image.description=homelab"

      - name: Create OCI artifact tag
        run: |
          flux tag artifact "$OCI_REPO:$(git rev-parse --short HEAD)" --tag main

      - name: Get the digest of the OCI artifact
        id: crane
        run: |
          DIGEST=$(crane digest "$GHCR_REPO:$(git rev-parse --short HEAD)")
          echo "DIGEST=$DIGEST" >> $GITHUB_OUTPUT

      - name: Sign the OCI artifact
        run: cosign sign "$GHCR_REPO@${{ steps.crane.outputs.DIGEST }}" -y
