name: "Publish OCI artifact"

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-oci.yaml
      - kubernetes/**

permissions: write-all

env:
  OCI_REPO: "oci://ghcr.io/neutralalice/manifests/${{ github.event.repository.name }}"
  GHCR_REPO: "ghcr.io/neutralalice/manifests/${{ github.event.repository.name }}"

jobs:
  publish:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
#      - name: Setup nixpkgs
#        uses: cachix/install-nix-action@d1ca217b388ee87b2507a9a93bf01368bde7cec2 # v31.1.0
#        with:
#          nix_path: nixpkgs=channel:nixos-unstable
      
#      - name: Print nixpkgs version
#        run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
        
      - name: Setup flux CLI tool
        uses: fluxcd/flux2/action@6bf37f6a560fd84982d67f853162e4b3c2235edb # v2.6.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup crane CLI tool
        uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4

      - name: Setup cosign CLI tool
        uses: sigstore/cosign-installer@7e8b541eb2e61bf99390e1afd4be13a184e9ebc5 # v3.10.1

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create OCI artifact
        run: |
          flux push artifact "$OCI_REPO:$(git rev-parse --short HEAD)" \
            --path="./kubernetes" \
            --source="$(git config --get remote.origin.url)" \
            --revision="$(git branch --show-current)@sha1:$(git rev-parse HEAD)" \
            --annotations="org.opencontainers.image.description=homelab"

      - name: Create OCI artifact tag
        run: |
          flux tag artifact "$OCI_REPO:$(git rev-parse --short HEAD)" --tag main

      - name: Get the digest of the OCI artifact
        id: crane
        run: |
          DIGEST=$(crane digest "$GHCR_REPO:$(git rev-parse --short HEAD)")
          echo "DIGEST=$DIGEST" >> $GITHUB_OUTPUT

      - name: Sign the OCI artifact
        run: cosign sign "$GHCR_REPO@${{ steps.crane.outputs.DIGEST }}" -y
